<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>大众汽车（德语：Volkswagen）是一家总部位于德国沃尔夫斯堡的汽车制造公司，也是世界四大汽车生产商之一的大众集团的核心企业。大众汽车公司意为大众使用的汽车。标志是由三个用中指和食指作出的“V”组成，表示大众公司及其产品必胜－必胜－必胜。</string>
		<key>icon</key>
		<string>car-1.png</string>
		<key>name</key>
		<string>大众</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>福特（Ford）是世界著名的汽车品牌，是世界最大的汽车企业之一。由亨利·福特先生创立于1903年。福特为美国福特汽车公司旗下的众多品牌之一，公司及品牌名福特来源于创始人亨利·福特（Henry Ford）的姓氏。福特汽车公司是世界上最大的汽车生产商之一，成立于1903年，总部位于密歇根州迪尔伯恩。</string>
		<key>icon</key>
		<string>car-2.png</string>
		<key>picture</key>
		<string>car-9.png</string>
		<key>name</key>
		<string>福特</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>本田株式会社（本田技研工业株式会社）是世界上最大的摩托车生产厂家，汽车产量和规模也名列世界十大汽车厂家之列。1948年创立，创始人是传奇式人物本田宗一郎。公司总部在东京。现在，本田公司已是一个跨国汽车、摩托车生产销售集团。它的产品除汽车、摩托车外，还有发电机、农机等动力机械产品。</string>
		<key>icon</key>
		<string>car-3.png</string>
		<key>name</key>
		<string>本田</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>奥迪（Audi）是一个国际著名豪华汽车品牌，作为高技术水平、质量标准、创新能力、以及经典车型款式的代表，奥迪是世界最成功的汽车品牌之一。公司总部设在德国的英戈尔施塔特</string>
		<key>icon</key>
		<string>car-4.png</string>
		<key>picture</key>
		<string>car-10.png</string>
		<key>name</key>
		<string>奥迪</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>梅赛德斯-奔驰（Mercedes-Benz）是世界著名的德国汽车品牌</string>
		<key>icon</key>
		<string>car-5.png</string>
		<key>picture</key>
		<string>car-11.png</string>
		<key>name</key>
		<string>奔驰</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>丰田汽车公司（TOYOTA）是一家总部设在日本爱知县丰田市和东京都文京区的日本汽车制造公司，属于三井财阀。丰田创始人为丰田喜一郎，1934年，丰田喜一郎决定创立汽车生产厂。1937年成立了丰田汽车工业株式会社，地址在爱知县举田盯。丰田是目前全世界排名第一的汽车生产公司，丰田亦是雷克萨斯、斯巴鲁品牌的母公司及富士重工的最大股东。</string>
		<key>icon</key>
		<string>car-6.png</string>
		<key>name</key>
		<string>丰田</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>现代汽车公司是韩国最大的汽车企业，属现代集团，世界20家最大汽车公司之一。成立于1967年，创始人是原现代集团会长郑周永。公司总部在韩国首尔。现代汽车集团的诞生可追溯到1940年阿道服务（A-do Service）汽车修理厂的成立。在1998年还挑收购了起亚汽车，并引领其走向了成功</string>
		<key>icon</key>
		<string>car-7.png</string>
		<key>picture</key>
		<string>car-12.png</string>
		<key>name</key>
		<string>现代</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>text</key>
		<string>1904年5月19日，芬兰人大卫·邓巴·别克在底特律创建了这个具有传奇色彩的公司——美国别克汽车公司。1908年，以别克汽车公司为中心，成立了美国通用汽车公司。当通用汽车公司扩大后，别克部成为通用汽车公司的第二大部门。</string>
		<key>icon</key>
		<string>car-8.png</string>
		<key>name</key>
		<string>别克</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
